<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #333;
            padding: 0px;
            color: #fff;
            text-align: center;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            padding: 50px 0;
        }

        h1 {
            font-size: 48px;
            color: #0;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #666;
            margin-bottom: 40px;
        }

        .download-button {
            background-color: #f44336;
            color: #fff;
            padding: 15px 30px;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .download-button:hover {
            background-color: #e53935;
        }
    </style>
</head>

<body>
    <header>
        <h1></h1>
    </header>

    <div class="container">
        <main>
            <h1>Download Chinobe Launcher</h1>
            <p>Download the Chinobe Game Launcher right here on this page to join in on the fun!</p>
            <button class="download-button">Download</button>
            <br><a href="/">Back to landing</a>

        </main>
    </div>
</body>

</html>