


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <title>Games - Chinobe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/cdn/css/homestuff/style.css">
    <link rel="stylesheet" href="/cdn/css/homestuff/style.css">
<%- include("navbar") %>

     <h2 style="text-align: center;">filler</h2>
      
       <h1 style="text-align: center;">Games</h1>

  <style>
    .game-list {
      display: flex;
      flex-wrap: wrap;
    }
    
    .game {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
    
    .game-icon {
      width: 200px;
      height: 150px;
      background-color: #0;
      border-radius: 5px;
    }
    
    .game-name {
      margin-top: 10px;
      font-weight: bold;
    }
    
    .game-favorites {
      margin-top: 5px;
      color: #888;
    }
  </style>
</head>
<body>
  <div class="game-list">
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <div class="game">
      <div class="game-icon"></div>
     <img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" alt="a">

      <div class="game-name">Game</div>
      <a href="/">Play Game</a>
      <div class="game-favorites">1000 favorites</div>
    </div>
    <!-- Add more games here -->
  </div>
</body>
</html>

  <tr>
  <!-- fren -->
    <th><a href="/"><!--fren img-->
    <!--fren name--></a></th>
  <!--- end fren -->

      </div>
    </div>
  </div>
</section>
     

</body>
</html>