 <!-- Made by Dev_Kelz on December 2023. :) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home - Chinobe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/cdn/css/homestuff/style.css">

<%- include("navbar") %>

<section class="section"><div class="page container">
<section class="section">
<div class="container">
<div class="columns">
<div class="column is-3">
<div class="push-5"></div>
<div class="box">
<aside class="menu">

 <div style="overflow-x:auto;text-align: center;">
<table style="width:auto; margin-left:auto;margin-right:auto;">
    <h2 style="text-align: ;"> Heller ther, testmuncher420</h2> <h5 style="text-align: center;"> </h5><br>
     <h2 style="text-align: ;"> Welcome back, <%- username %></h2> <h5 style="text-align: center;"> </h5> <i class='bx bx-nothingniga' ></i>
    <h3 style="text-align: center;">Your Friends (6)</h3> <!-- you dont have any friens -->
    
 <!--- row start --->
  <tr>
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-472BB19E6393AE785D2A3B5186561895-Png/150/150/AvatarHeadshot/Png/isCircular" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend1</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-6330B41DC91EEAD43B2C66295CE35106-Png/150/150/AvatarHeadshot/Png/noFilter" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend2</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-54E307119A7C0A8AC22524AA749554DF-Png/150/150/AvatarHeadshot/Png/isCircular" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend3</a></th>
  <!--- end fren -->

<!--- row end --->
 
<!--- row start --->
   <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-F05AEA59177DAC26E27F6B3873E60079-Png/150/150/AvatarHeadshot/Png/isCircular" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend4</a></th>
  <!--- end fren -->
  
   <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-7BB91392F962EB674C44EE79F559EEAD-Png/150/150/AvatarHeadshot/Png/isCircular" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend5</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/30DAY-AvatarHeadshot-1C3F4E1A0E711368320C9C3DEB513106-Png/150/150/AvatarHeadshot/Png/isCircular" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Friend6</a></th>
  <!--- end fren -->
<!--- row end --->

 <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://icons.veryicon.com/png/o/miscellaneous/thinking-deeply-about-app/add-friend-24.png" style="height:95px;width:95px;"/>
    <!--fren name-->
    <t></t><br/></a></th>
  <!--- end fren -->
 </tr>
<!--- row end --->
<br>
</table>
</div> <br> <br> <br>

<div style="overflow-x:auto;text-align: center;">
<table style="width:auto; margin-left:auto;margin-right:auto;">
    <h2 style="text-align: ;">Recently Played Games</h2> <h5 style="text-align: center;"> (past week) </h5><br>
     <!--- row start --->
  <tr>
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/93e110e2a5206b28e28694690631d2f5/150/150/Image/Png/" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Obby Creator</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/bd90d02179d8cb0fc5a21c4b25af5213/150/150/Image/Png" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Ballsack creator</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://t2.rbxcdn.com/dcba86e6279d72062444d423c583d70f" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Place</a></th>
  <!--- end fren -->

<!--- row end --->
 
<!--- row start --->
   <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/37c0fb96446740d7c3343f3eaedbd0f7/150/150/Image/Png" style="height:95px;width:95px;"/>
    <!--fren name--><br/>pet simulator 69</a></th>
  <!--- end fren -->
  
   <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/46acfc15eec5ecd7acc35156beebfaf8/150/150/Image/Png" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Hood Simulator</a></th>
  <!--- end fren -->
 
  <!-- fren -->
    <th><a href="/"><!--fren img--><img src="https://tr.rbxcdn.com/13eadc37c2e586f92108b0368dee7a06/150/150/Image/Png" style="height:95px;width:95px;"/>
    <!--fren name--><br/>Tower of lankyballs</a></th>
  <!--- end fren -->
<!--- row end --->


     

</body>
</html>