 <!-- Made by Dev_Kelz on December 2023. :) -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Inventory - Chinobe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/cdn/css/homestuff/style.css">

<%- include("navbar") %>

<center> </a>
<h2 class="ms-3"><%-otherusername%>'s Inventory</h2> <br>
</div>
<div class="d-flex">
<div class="p-1 category-list" style="width: 100%;">
<a href="/" class="selected">
Accessories
</a> |
<a href="/" class>
Audio
</a> |
<a href="/" class>
Gears
</a>|
<a href="/" class>
Faces
</a>|
<a href="/" class>
Heads
</a>|
<a href="/" class>
Hats
</a>|
<a href="/" class>
Passes
</a>|
<a href="/" class>
Packages
</a>|
<a href="/" class>
T-Shirt
</a>|
<a href="/" class>
Shirts
</a>|
<a href="/" class>
Pants
</a>
      </div>
    </div>
  </div>
</section> </center>
     