

<meta charset="utf-8">
<title>Chinobe</title>
<meta name="description" content="Chinobe is an in-development simulation of Roblox from the years 2016-2021!">
<meta name="keywords" content="Chinobe, Free, Online, Games, Trading, Roblox, Client, simulation, New">
<meta name="author" content="Chinobe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://web.archive.org/web/20201113220942cs_/https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
<script src="https://web.archive.org/web/20201113220942js_/https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.js" type="text/javascript"></script>
<script src="https://web.archive.org/web/20201113220942js_/https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="" crossorigin="anonymous"></script>
<link href="https://web.archive.org/web/20201113220942cs_/https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
<link rel="icon" href="https://media.discordapp.net/attachments/1183790819514257408/1184164679677915136/Chinobexmasv3.png?ex=658afa4c&is=6578854c&hm=d1ee1b810c4c34a3d21de348dd9d83283bbb1d49613e1aa5e800db46efc89fa1&=&format=webp&quality=lossless&width=479&height=479">
</head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

<body><style media="screen">
    body {
      font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    }
    </style>    <nav class="navbar is-spaced has-shadow landing_nav" role="navigation" aria-label="main navigation">
<div class="container">
<div class="navbar-brand">
<a class="navbar-item" href="/">

</a>
<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
<span aria-hidden="true"></span>
</a>
</div>
<div id="navbarBasicExample" class="navbar-menu">
<div class="navbar-start">


<div class="navbar-item has-dropdown is-hoverable">
<a class="navbar-link">
Socials
</a>
<div class="navbar-dropdown is-boxed">
<a class="navbar-item" <a class="navbar-item" target="_blank" href="https://discord.com/invite/chinobe">
<i class="fab fa-discord" style="color:#738adb;font-size:17px;"></i>&nbsp;Discord
</a>
</div>
</div>
</div>
<div class="navbar-end">
<div class="buttons">
<div class="navbar-item">
<a class="button is-success" href="/roadmap">
<b>Roadmap</b>
</a>
</div>
</div>
</div>
</div>
</nav><div class="container">

<section class="articles">
<div class="column is-8 is-offset-2">

<div class="card article">
<div class="card-content">
<div class="media">
<div class="media-center">

</div>
<div class="media-content has-text-centered">
<p class="title article-title">Chinobe's release date is right around the corner.</p>
<div class="tags has-addons level-item">
<span class="tag is-rounded is-info">@dev_kelz</span>
<span class="tag is-rounded">Dec 12th, 2023 at 12:25PM</span> 


</div>
</div>
</div>
Have a key? <a href="/register" class="btn btn-primary shadow mr-2">Register</a>
<br> Already have an account? <a href="/login" class="btn btn-outline-primary">Login</a>
<div class="content article-body">
<br><p>Welcome to Chinobe's official website, Chinobe is an in-development Old Roblox Simulator that is currently in the making! We had plans to release this in early December 2023, but unfortunately our Discord server with 500+ members got completely destroyed which entirely demotivated me and the main developer of Chinobe, so now the release date has been pushed a bit back. We will release soon anyway as planned, so please stay tuned.</p>
<h5 class="title is-5">What you can expect from Chinobe</h5>
<li>Brand new site design
<li>Working client (2016L+)
<li>Economy (Selling, trading, etc)
<li>Account 2step verification
<li>And more to see coming up soon!
<hr>
<p>Chinobe has been delayed quite a lot of times, but we promise you, it will be here soon and would've been worth the wait.</p>
<p>I promise you guys will enjoy <strong>everything</strong> the site has to offer when it's released, and I mean it.</p>
<p>If you have any questions or concerns about the new site, make sure to join our Discord and make a support ticket, we'll read it when we can.</p>
<strong>Join our <a class="button is-small is-dark" href="https://discord.gg/chinobe">
Discord server
</a>, We will be posting new leaks, news and updates for the site on there!</strong>
<p>Make sure to share with your friends, projects like this get more and more popular by word of mouth!</p>
<strong>Thank you!
</strong>-kelz <br>
<img src="https://media1.tenor.com/m/nLwTsYrz77MAAAAd/cat-cat-e.gif" alt="GIF" style="width:100px;height:100px;">
</div>
</div>
</div>

</section>

</div>>
			</div>
		</div>
</div>
</div>
<hr><div class="hero-foot has-text-centered">
<p><strong>Copyright © 2023 Chinobe. All rights reserved</strong></p>
<center> Credit @bynagin </center>
</div>
<br>