

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <!-- skid if ur gay -devkelz!-->
  <title>Userprofile - Chinobe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/cdn/css/homestuff/style.css">
  <%- include("navbar") %>
  

     <h2 style="text-align: ;"> filler</h2> <h5 style="text-align: center;"> </h5> <i class='bx bx-nothingniga' ></i>
    <h2 style="text-align: center;"><%-otherusername%>'s Profile</h2>
    
 <!--- row start --->
  <tr>
  <!-- fren -->
    <th><a href="/"><!--fren img-->
    <!--fren name--></a></th>
  <!--- end fren -->


<div style="overflow-x:auto;text-align: center;">
<table style="width:auto; margin-left:auto;margin-right:auto;">
    <h5 style="text-align: ;">(<%-otherusername%>'s status: "hi")</h5> <h5 style="text-align: center;"> </h5>
                <button type="button" class="button">
              Trade
            </button> <br> <br>
     <!--- row start --->

<section class="vh-100" style="background-color: 000000;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="https://www.syntax.eco/Thumbs/Head.ashx?x=150&y=150&userId=1929"
                class="rounded-circle img-fluid" style="width: 100px;" /> <br> <br>
            
<h3> 0 Friends |
                
                0 Followers |
            
                0 Visits </h3> <br>

            <button type="button" class="btn btn-primary btn-rounded btn-lg">
              Add Friend
            </button> <br> <br>
              </div>
            </div>
          </div>
        </div>

</a>
<h2 class="ms-3"><%-otherusername%>'s Inventory</h2> <br>
</div>
<div class="d-flex">
<div class="p-1 category-list" style="width: 100%;">
<a href="/" class="selected">
Accessories
</a> |
<a href="/" class>
Audio
</a> |
<a href="/" class>
Gears
</a>|
<a href="/" class>
Faces
</a>|
<a href="/" class>
Heads
</a>|
<a href="/" class>
Hats
</a>|
<a href="/" class>
Passes
</a>|
<a href="/" class>
Packages
</a>|
<a href="/" class>
T-Shirt
</a>|
<a href="/" class>
Shirts
</a>|
<a href="/" class>
Pants
</a>
      </div>
    </div>
  </div>
</section>
     

</body>
</html>