
<!DOCTYPE html>
<html lang="en">
    <body style="background-color:#2C2C2C;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="og:image" content="https://media.discordapp.net/attachments/816404724760444939/1180512927208443974/download_6.png">
<meta name="og:site_name" content="Chinobe">
<meta name="og:description" content="Chinobe is an up-and-coming simulation of older Roblox from the years 2016-2021! Join today and have fun!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register - Chinobe</title>
  <link rel="stylesheet" href="https://csscdn.chinob.xyz/cdn/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>

<div class="signupFrm">
    <form action="" class="form" id="form">
    <a href="/">Go back to landing</a> <br> <br>
      <h1 class="title">Register</h1> 


      <div class="inputContainer">
        <input type="text" id="username" class="input" placeholder="a">
        <label for="" name="username" class="label">Username</label>
      </div>

      <div class="inputContainer">
        <input type="password" class="input"  id="password" placeholder="a">
        <label for="" name="password" class="label">Password</label>
      </div>

      <div class="inputContainer">
        <input type="text" id="invitekey" class="input" placeholder="a">
        <label for="" name="key" class="label">Invite Key</label>
      </div>

      Already have a Chinobe account? 
      <a href="https://chinob.xyz/login">Login</a> <br> <br>

<input type="checkbox" id="Thing" name="TOSConfirm" value="TOSConfirm">
<label for="Thing"> I agree to Chinobe's <a href="https://chinob.xyz/Pages/Tos.html">Terms of Service</a>.</label><br>
 
      <input type="submit" class="submitBtn" value="Sign up">
      <div id="signupAlert"></div>
    </form>
  </div>
  <script>
    const alertPlaceholder = document.getElementById('signupAlert')
const appendAlert = (message, type) => {
const wrapper = alertPlaceholder
wrapper.innerHTML = [
`<div class="alert alert-${type} alert-dismissible" id="signupAlert" role="alert">`,
`   <div>${message}</div>`,
'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
'</div>'
].join('')

// alertPlaceholder.append(wrapper.parentElement)
}
    const form = document.getElementById("form")
    $('#form').submit(function (e) {
        e.preventDefault()
        var formData = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value,
            invitekey: document.getElementById("invitekey").value
        };
        appendAlert("Signing up...", "success")
        $.ajax({
            type: 'POST',
            url: '/api/v1/users/signup',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(response) {
              appendAlert("Successfully signed up! Redirecting...", "success")
                window.location.href = "/home"
            },
            error: function(xhr, status, error) {
                var responseData = xhr.responseText;
                appendAlert(`Could not sign up! Error: ${responseData}`, "danger")
            }
        });
    })
</script>